<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<div>
  <thead>
    <tr>
      <th>Description</th>
      <th>Order number</th>
      <th>Due at</th>
      <th>Is completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div>
      <ul id="tasks">
        <%= render @tasks %>
      </ul>
  </div>
</div>


<%= link_to 'New Task', new_task_path %>
